# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# IDE files
.vscode/
.idea/

# macOS files
.DS_Store

# Logs
*.log

# Database files
*.db
*.sqlite3

# Seed data — CSV files contain financial data, not code
seed/*.csv

#Tests folders
.tests/
tests/

#add admin
add_admin.py


#frontend folder temporarily ignored
tradeiq-mobile/
